<!-- Spots 景點 -->
<div class="mt-8" id="spots">
    <div class="container">
        <div class="d-flex align-items-center mb-3">
            <h2 class="fs-4 fs-md-lg fw-light text-secondary mb-0 me-2">附近景點</h2>
            <small class="fs-6">距離<span class="text-info"> {{ distanceInMeters }}m </span>內</small>
        </div>
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-4" *ngFor="let spots of spotsList">
                <div @fade class="img-wrap">
                    <img [src]="spots.Picture.PictureUrl1" [alt]="spots.Picture.PictureDescription1" appImage>
                </div>
                <a href="javascipt:;" [routerLink]="['/spots', spots.ScenicSpotID]" target="_blank">
                    <h3 class="fs-5 fw-bold text-dark mt-2">{{ spots.ScenicSpotName }}</h3>
                </a>
                <i class="fas fa-map-marker-alt me-1"></i>{{ spots.City }}
            </div>
        </div>

        <!-- 無資料顯示 -->
        <div @fade class="text-center pt-12 pb-3" *ngIf="!spotsList.length">
            <img src="assets/images/nofound80.png" alt="nofound80">
            <p class="fs-5 fw-bold text-primary mt-3">目前查無資料</p>
        </div>
    </div>
</div>

<!-- Restaurant 餐飲 -->
<div class="mt-8" id="restaurant">
    <div class="container">
        <div class="d-flex align-items-center mb-3">
            <h2 class="fs-4 fs-md-lg fw-light text-secondary mb-0 me-2">附近美食</h2>
            <small class="fs-6">距離<span class="text-info"> {{ distanceInMeters }}m </span>內</small>
        </div>
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-4" *ngFor="let restaurant of restaurants">
                <div @fade class="img-wrap">
                    <img [src]="restaurant.Picture.PictureUrl1" [alt]="restaurant.Picture.PictureDescription1" appImage>
                </div>
                <a href="javascipt:;" [routerLink]="['/restaurant', restaurant.RestaurantID]" target="_blank">
                    <h3 class="fs-5 fw-bold text-dark mt-2">{{ restaurant.RestaurantName }}</h3>
                </a>
                <i class="fas fa-map-marker-alt me-1"></i>{{ restaurant.City }}
            </div>
        </div>

        <!-- 無資料顯示 -->
        <div @fade class="text-center pt-12 pb-3" *ngIf="!restaurants.length">
            <img src="assets/images/nofound80.png" alt="nofound80">
            <p class="fs-5 fw-bold text-primary mt-3">目前查無資料</p>
        </div>
    </div>
</div>

<!-- Activity 活動 -->
<div class="mt-8" id="activity">
    <div class="container">
        <div class="d-flex align-items-center mb-3">
            <h2 class="fs-4 fs-md-lg fw-light text-secondary mb-0 me-2">附近活動</h2>
            <small class="fs-6">距離<span class="text-info"> {{ distanceInMeters }}m </span>內</small>
        </div>
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-4" *ngFor="let activity of activities">
                <div @fade class="img-wrap">
                    <img [src]="activity.Picture.PictureUrl1" [alt]="activity.Picture.PictureDescription1" appImage>
                </div>
                <a href="javascipt:;" [routerLink]="['/activity', activity.ActivityID]" target="_blank">
                    <h3 class="fs-5 fw-bold text-dark mt-2">{{ activity.ActivityName }}</h3>
                </a>
                <i class="fas fa-map-marker-alt me-1"></i>{{ activity.City }}
            </div>
        </div>

        <!-- 無資料顯示 -->
        <div @fade class="text-center pt-12 pb-3" *ngIf="!activities.length">
            <img src="assets/images/nofound80.png" alt="nofound80">
            <p class="fs-5 fw-bold text-primary mt-3">目前查無資料</p>
        </div>
    </div>
</div>