<!-- Banner -->
<div class="pt-2 pb-10 pt-md-20 pb-md-14">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center text-md-start mb-9 mb-md-0">
                <h1 class="fs-xl fw-light lh-base text-secondary text-md-start">探索<span
                        class="border-bottom border-2 border-info">台灣之美</span><br>讓我們更親近這片土地</h1>
                <p class="fs-sm fs-md-5">
                    <i class="fas fa-map-marker-alt text-info"></i>
                    台灣旅遊景點導覽<span class="fs-xs fs-md-6 fw-display ms-2">Taiwan Travel Guide</span>
                </p>
            </div>
            <div class="col-12 col-md-4">
                <form>
                    <div class="mb-2">
                        <select class="form-select bg-white py-3 px-8" #tourismTypeSelect>
                            <option value="spots" selected>探索景點</option>
                            <option value="activity">節慶活動</option>
                            <option value="restaurant">品嚐美食</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <input type="text" class="form-control py-3 px-8" placeholder="你想去哪裡？請輸入關鍵字" #keywordInput>
                    </div>
                    <a href="javascript:;" class="btn btn-primary text-white w-100 py-3" (click)="navigateToSearch()">
                        <i class="fa fa-search me-5"></i>搜尋
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Carousel 輪播圖-->
<div class="container">
    <carousel [isAnimated]="true">
        <slide *ngFor="let carousel of carousels">
            <img [src]="carousel.path" [alt]="carousel.alt" class="w-100">

            <!-- 檢查觀光類型-->
            <div class="carousel-caption" [ngSwitch]="carousel.tourismType">
                <!-- 比對為景點 -->
                <a *ngSwitchCase="'spots'" [routerLink]="['/spots', carousel.ID]" href="javascript:;">
                    <h3 class="fs-6 fs-md-3 text-white">{{ carousel.subTitle }} | {{ carousel.title }}</h3>
                </a>
                <!-- 比對為餐飲 -->
                <a *ngSwitchCase="'restaurant'" [routerLink]="['/restaurant', carousel.ID]" href="javascript:;">
                    <h3 class="fs-6 fs-md-3 text-white">{{ carousel.subTitle }} | {{ carousel.title }}</h3>
                </a>
                <!-- 比對為活動 -->
                <a *ngSwitchCase="'activity'" [routerLink]="['/activity', carousel.ID]" href="javascript:;">
                    <h3 class="fs-6 fs-md-3 text-white">{{ carousel.subTitle }} | {{ carousel.title }}</h3>
                </a>
            </div>
        </slide>
    </carousel>
</div>

<!-- Activity 活動 -->
<div class="mt-8">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="fs-4 fs-md-lg fw-light text-secondary mb-0">近期活動</h2>
            <a href="javascript:;" routerLink="/activity/search" class="more text-danger">查看更多活動</a>
        </div>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col" *ngFor="let activity of activities">
                <div class="card-item border-0 border-md bg-transparent bg-md-light mb-4 mb-md-3">
                    <div class="row g-0">
                        <div class="col-3">
                            <img [src]="activity.Picture.PictureUrl1" class="w-100 h-100 object-cover"
                                [alt]="activity.Picture.PictureDescription1">
                        </div>
                        <div class="col-9">
                            <div class="d-flex flex-column justify-content-md-between h-100 ps-4 p-md-4">
                                <div>
                                    <span class="fs-xs fs-md-6">
                                        {{ activity.StartTime | date:'yyyy/MM/dd' }} -
                                        {{ activity.EndTime | date:'yyyy/MM/dd' }}
                                    </span>
                                    <a [routerLink]="['/activity', activity.ID]">
                                        <h3 class="fs-6 fs-md-5 fw-bold text-dark mt-1">{{ activity.Name }}</h3>
                                    </a>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <i class="fas fa-map-marker-alt d-none d-md-inline me-1"></i>
                                        <span class="fs-xs fs-md-6">{{ activity.City }}</span>
                                    </div>
                                    <a href="javascript:;" routerLink="/activity/search"
                                        class="more text-primary d-none d-md-block">詳細介紹</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Spots 景點 -->
<div class="mt-8">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="fs-4 fs-md-lg fw-light text-secondary mb-0">熱門打卡景點</h2>
            <a href="javascript:;" routerLink="/spots/search" class="more text-danger">查看更多景點</a>
        </div>
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-4" *ngFor="let spots of spotsList">
                <div class="img-wrap">
                    <img [src]="spots.Picture.PictureUrl1" [alt]="spots.Picture.PictureDescription1">
                </div>
                <a href="javascipt:;" [routerLink]="['/spots', spots.ID]">
                    <h3 class="fs-5 fw-bold text-dark mt-2">{{ spots.Name }}</h3>
                </a>
                <i class="fas fa-map-marker-alt me-1"></i>{{ spots.City }}
            </div>
        </div>
    </div>
</div>

<!--  Restaurant 美食餐廳 -->
<div class="mt-8">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="fs-4 fs-md-lg fw-light text-secondary mb-0">一再回訪美食</h2>
            <a href="javascript:;" [routerLink]="['/restaurant/search']" class="more text-danger">查看更多美食</a>
        </div>
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-4" *ngFor="let restaurant of restaurants">
                <div class="img-wrap">
                    <img [src]="restaurant.Picture.PictureUrl1" [alt]="restaurant.Picture.PictureDescription1">
                </div>
                <a href="spots.html">
                    <h3 class="fs-5 fw-bold text-dark mt-2">{{ restaurant.Name }}</h3>
                </a>
                <i class="fas fa-map-marker-alt me-1"></i>{{ restaurant.City }}
            </div>
        </div>
    </div>
</div>