<!-- breadcrumb 麵包屑 -->
<div class="pt-6 pb-4 pt-md-14 pb-md-7">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:;" routerLink="/">首頁</a></li>
                <li class="breadcrumb-item"><a href="javascript:;" routerLink="/spots/search">探索景點</a></li>
                <li class="breadcrumb-item"><a href="javascript:;" (click)="navigateToRestaurantSearch()">{{
                        restaurant.City
                        }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ restaurant.Name }}</li>
            </ol>
        </nav>
    </div>
</div>

<!-- Carousel 輪播圖-->
<div class="container">
    <carousel [isAnimated]="true">
        <slide *ngFor="let picture of restaurant.Pictures">
            <img [src]="picture.path" [alt]="picture.alt">
        </slide>
    </carousel>
</div>

<!-- 主內容 -->
<div class="pt-7">
    <div class="container">
        <h3 class="fs-4 fs-md-lg fw-light mb-3">{{ restaurant.Name }}</h3>
        <div class="mb-7">
            <span class="badge border border-info rounded-pill text-info fs-sm fs-md-5 fw-normal"># {{ restaurant.Class
                }}</span>
        </div>
        <h4 class="fs-5 fw-bold">餐廳介紹：</h4>
        <p class="text-justify">{{ restaurant.Description }}</p>
        <div class="row row-cols-1 row-cols-md-2 py-7 py-md-15">
            <div class="col bg-light bg-md-transparent">
                <ul class="list-unstyled bg-light rounded-3 p-7 mb-0">
                    <li class="mb-4">
                        <h4 class="fs-5 fw-bold">營業時間：</h4>
                        <p>{{ restaurant.OpenTime }}</p>
                    </li>
                    <li class="mb-4">
                        <h4 class="fs-5 fw-bold">聯絡電話：</h4>
                        <p>{{ restaurant.Phone }}</p>
                    </li>
                    <li class="mb-4">
                        <h4 class="fs-5 fw-bold">餐廳地址：</h4>
                        <p>{{ restaurant.Address }}</p>
                    </li>
                    <li class="mb-4">
                        <h4 class="fs-5 fw-bold">官方網站：</h4>
                        <p>
                            <a [href]="restaurant.WebsiteUrl" target="_blank">{{ restaurant.WebsiteUrl }}</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col bg-light bg-md-transparent">
                <iframe class="rounded-3" width="100%" height="250" frameborder="0"
                    [src]="googleMapUrl | safe: 'resourceUrl'" *ngIf="hasAddress">
                </iframe>
                <h4 class="fs-5 fw-bold mt-8 mb-5">周邊資訊：</h4>
                <div class="row row-cols-1 row-cols-md-3 mb-7">
                    <div class="col mb-2">
                        <a href="#" class="nearby-item d-block border rounded-3 text-center py-3 py-md-6"
                            (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)"
                            [routerLink]="['/restaurant', restaurant.ID, 'nearby']">
                            <img src="assets/images/nearby-scene30.png" data-original="assets/images/nearby-scene30.png"
                                data-change="assets/images/nearby-scene30-hover.png" alt="nearby-scene30">
                            <p class="mt-1 fw-bold">附近景點</p>
                        </a>
                    </div>
                    <div class="col mb-2">
                        <a href="#" class="nearby-item d-block border rounded-3 text-center py-3 py-md-6"
                            (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)">
                            <img src="assets/images/nearby-event30.png" data-original="assets/images/nearby-event30.png"
                                data-change="assets/images/nearby-event30-hover.png" alt="nearby-event30">
                            <p class="mt-1 fw-bold">附近活動</p>
                        </a>
                    </div>
                    <div class="col mb-2">
                        <a href="#" class="nearby-item d-block border rounded-3 text-center py-3 py-md-6"
                            (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)">
                            <img src="assets/images/nearby-food30.png" data-original="assets/images/nearby-food30.png"
                                data-change="assets/images/nearby-food30-hover.png" alt="nearby-food30">
                            <p class="mt-1 fw-bold">附近美食</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Restaurant 餐飲 -->
<div class="mt-8" *ngIf="city">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="fs-4 fs-md-lg fw-light text-secondary mb-0">還有這些不能錯過</h2>
            <a href="javascript:;" class="more text-danger" (click)="navigateToRestaurantSearch()">查看更多{{
                restaurant.City }}美食</a>
        </div>
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-4" *ngFor="let restaurant of restaurants">
                <div class="img-wrap">
                    <img [src]="restaurant.Picture.PictureUrl1" [alt]="restaurant.Picture.PictureDescription1">
                </div>
                <a [routerLink]="['/restaurant', restaurant.ID]">
                    <h3 class="fs-5 fw-bold text-dark mt-2">{{ restaurant.Name }}</h3>
                </a>
                <i class="fas fa-map-marker-alt me-1"></i>{{ restaurant.City}}
            </div>
        </div>
    </div>
</div>