<!-- breadcrumb 麵包屑 -->
<div @fade class="pt-6 pb-4 pt-md-14 pb-md-7">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:;" routerLink="/">首頁</a></li>
                <li class="breadcrumb-item"><a href="javascript:;" routerLink="/restaurant/search">品嚐美食</a></li>
                <li class="breadcrumb-item"><a href="javascript:;" (click)="navigateToRestaurantSearch()">{{
                        restaurant.City
                        }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ restaurant.RestaurantName }}</li>
            </ol>
        </nav>
    </div>
</div>

<!-- Carousel 輪播圖-->
<div @fade class="container" *ngIf="restaurant.Pictures?.length">
    <carousel [isAnimated]="true" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let picture of restaurant.Pictures">
            <img [src]="picture.path" [alt]="picture.alt" [placeholder]="'assets/images/NoImage-1100x400.png'" appImage>
        </slide>
        <div class="carousel-indicators" *ngIf="restaurant.Pictures.length > 1">
            <button *ngFor="let picture of restaurant.Pictures; let i = index" type="button"
                data-bs-target="#carouselExampleCaptions" [class.active]="i === activeSlideIndex"
                (click)="switchSlide(i)">
            </button>
        </div>
    </carousel>
</div>

<!-- 主內容 -->
<div @fade class="pt-7" *ngIf="restaurant.RestaurantID">
    <div class="container">
        <h3 class="fs-4 fs-md-lg fw-light mb-3">{{ restaurant.RestaurantName }}</h3>
        <div class="mb-7">
            <span class="badge border border-info rounded-pill text-info fs-sm fs-md-5 fw-normal"># {{ restaurant.Class
                }}</span>
        </div>
        <h4 class="fs-5 fw-bold">餐廳介紹：</h4>
        <p class="text-justify">{{ restaurant.Description }}</p>
        <div class="row row-cols-1 row-cols-md-2 py-7 py-md-15">
            <div class="col bg-light bg-md-transparent">
                <ul class="list-unstyled bg-light rounded-3 p-7 mb-0">
                    <li class="mb-4">
                        <h4 class="fs-5 fw-bold">營業時間：</h4>
                        <p>{{ restaurant.OpenTime }}</p>
                    </li>
                    <li class="mb-4">
                        <h4 class="fs-5 fw-bold">聯絡電話：</h4>
                        <p>{{ restaurant.Phone }}</p>
                    </li>
                    <li class="mb-4">
                        <h4 class="fs-5 fw-bold">餐廳地址：</h4>
                        <p>{{ restaurant.Address }}</p>
                    </li>
                    <li class="mb-4">
                        <h4 class="fs-5 fw-bold">官方網站：</h4>
                        <p>
                            <a class="text-break" [href]="restaurant.WebsiteUrl" target="_blank">{{
                                restaurant.WebsiteUrl }}</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col bg-light bg-md-transparent">

                <!-- Google Map -->
                <app-google-map *ngIf="hasAddress" [address]="restaurant.Address"></app-google-map>

                <!-- 周邊資訊 -->
                <app-nearby-info *ngIf="restaurant.RestaurantID" [ID]="restaurant.RestaurantID"
                    [TourismType]="tourismType">
                </app-nearby-info>
            </div>
        </div>
    </div>
</div>

<!-- Restaurant 餐飲 -->
<div @fade class="mt-8" *ngIf="city">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="fs-4 fs-md-lg fw-light text-secondary mb-0">還有這些不能錯過</h2>
            <a href="javascript:;" class="more text-danger" (click)="navigateToRestaurantSearch()">查看更多{{
                restaurant.City }}美食</a>
        </div>
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-4" *ngFor="let restaurant of restaurants">
                <div @fade class="img-wrap">
                    <img [src]="restaurant.Picture.PictureUrl1" [alt]="restaurant.Picture.PictureDescription1" appImage>
                </div>
                <a [routerLink]="['/restaurant', restaurant.RestaurantID]">
                    <h3 class="fs-5 fw-bold text-dark mt-2">{{ restaurant.RestaurantName }}</h3>
                </a>
                <i class="fas fa-map-marker-alt me-1"></i>{{ restaurant.City}}
            </div>
        </div>
    </div>
</div>