<!-- breadcrumb 麵包屑 -->
<div @fade class="pt-6 pb-4 pt-md-14 pb-md-7">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:;" routerLink="/">首頁</a></li>
                <li class="breadcrumb-item"><a href="javascript:;" routerLink="/activity/search">節慶活動</a></li>
                <li class="breadcrumb-item"><a href="javascript:;" (click)="navigateToActivitySearch()">{{ activity.City
                        }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ activity.ActivityName }}</li>
            </ol>
        </nav>
    </div>
</div>

<!-- Carousel 輪播圖-->
<div @fade class="container" *ngIf="activity.Pictures?.length">
    <carousel [isAnimated]="true" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let picture of activity.Pictures">
            <img [src]="picture.path" [alt]="picture.alt" [placeholder]="'assets/images/NoImage-1100x400.png'" appImage>
        </slide>
        <div class="carousel-indicators" *ngIf="activity.Pictures.length > 1">
            <button *ngFor="let picture of activity.Pictures; let i = index" type="button"
                data-bs-target="#carouselExampleCaptions" [class.active]="i === activeSlideIndex"
                (click)="switchSlide(i)">
            </button>
        </div>
    </carousel>
</div>

<!-- 主內容 -->
<div @fade class="pt-7" *ngIf="activity.ActivityID">
    <div class="container">
        <h3 class="fs-4 fs-md-lg fw-light mb-3">{{ activity.ActivityName }}</h3>
        <div class="mb-7">
            <span class="badge border border-info rounded-pill text-info fs-sm fs-md-5 fw-normal me-2"
                *ngFor="let class of activity.Classes"># {{ class }}</span>
        </div>
        <h4 class="fs-5 fw-bold">活動介紹：</h4>
        <p class="text-justify">{{ activity.Description }}</p>
        <div class="row row-cols-1 row-cols-md-2 py-7 py-md-15">
            <div class="col bg-light bg-md-transparent">
                <ul class="list-unstyled bg-light rounded-3 p-7 mb-0">
                    <li class="mb-4">
                        <h4 class="fs-5 fw-bold">活動時間：</h4>
                        <p>
                            {{ activity.StartTime | date:'yyyy/MM/dd' }} -
                            {{ activity.EndTime | date:'yyyy/MM/dd' }}
                        </p>
                    </li>
                    <li class="mb-4">
                        <h4 class="fs-5 fw-bold">聯絡電話：</h4>
                        <p>{{ activity.Phone }}</p>
                    </li>
                    <li class="mb-4">
                        <h4 class="fs-5 fw-bold">主辦單位：</h4>
                        <p>{{ activity.Organizer }}</p>
                    </li>
                    <li class="mb-4">
                        <h4 class="fs-5 fw-bold">活動地點：</h4>
                        <p>{{ activity.Address }}</p>
                    </li>
                    <li class="mb-4">
                        <h4 class="fs-5 fw-bold">官方網站：</h4>
                        <p>
                            <a class="text-break" [href]="activity.WebsiteUrl" target="_blank">{{ activity.WebsiteUrl
                                }}</a>
                        </p>
                    </li>
                    <li class="mb-4">
                        <h4 class="fs-5 fw-bold">活動費用：</h4>
                        <p>{{ activity.charge }}</p>
                    </li>
                    <li class="mb-4">
                        <h4 class="fs-5 fw-bold">注意事項：</h4>
                        <p>{{ activity.Remarks }}</p>
                    </li>
                </ul>
            </div>
            <div class="col bg-light bg-md-transparent">

                <!-- Google Map -->
                <app-google-map *ngIf="hasAddress" [address]="activity.Address"></app-google-map>

                <!-- 周邊資訊 -->
                <app-nearby-info *ngIf="activity.ActivityID" [ID]="activity.ActivityID" [TourismType]="tourismType">
                </app-nearby-info>
            </div>
        </div>
    </div>
</div>

<!-- Activity 活動 -->
<div @fade class="mt-8" *ngIf="city">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="fs-4 fs-md-lg fw-light text-secondary mb-0">還有這些不能錯過</h2>
            <a href="javascript:;" class="more text-danger" (click)="navigateToActivitySearch()">查看更多{{ activity.City
                }}活動</a>
        </div>
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-4" *ngFor="let activity of activities">
                <div @fade class="img-wrap">
                    <img [src]="activity.Picture.PictureUrl1" [alt]="activity.Picture.PictureDescription1" appImage>
                </div>
                <a [routerLink]="['/activity', activity.ActivityID]">
                    <h3 class="fs-5 fw-bold text-dark mt-2">{{ activity.ActivityName }}</h3>
                </a>
                <i class="fas fa-map-marker-alt me-1"></i>{{ activity.City}}
            </div>
        </div>
    </div>
</div>